<!DOCTYPE html>
<html>
    <head>
        <title>SWCombine</title>
        <link rel="stylesheet" type="text/css" href="/css/maincss.css">
        <link rel="stylesheet" type="text/css" href="/css/market.css">
        <link rel="shortcut icon" href="/imgs/icon.ico" type="image/x-icon">
        <script src="/js/market.js"></script>
    </head>
    <body>
    	<div class="header_header">
        	<div id="headerleft"></div>
    		<div id="headerright"></div>
    	</div>