<!DOCTYPE html>
<html>
    <head>
        <title>SWCombine</title>
        <link rel="stylesheet" type="text/css" href="/css/maincss.css">
        <link rel="shortcut icon" href="/imgs/icon.ico" type="image/x-icon">
    </head>
    <body>
    	<div class="header_header">
        <div id="headerleft"></div>
    		<div id="headerright"></div>
    	</div>
        <div class="header_alertcontainer">
            <div class="header_alertbarevents">
                <div>
                    <span id="headerleftbookend"></span>
                    <a href="#">
                        <img src="https://img.swcombine.com//skins/black/notifiers/colored/main_status_ico_snews.gif" width="21" height="21" border="0" title="No New Sim news" alt="Sim news">
                    </a>
                </div>
            </div>
        </div>