<% include partials/header %>

<h1>Create Listing</h1>

<h2>Integrated into SWC</h2>
<ul>
	<li>Select Item Class - Ship</li>
	<li>Select Item Subclass - Capital Ship</li>
	<li>Select Item</li>
    <li>Show RMV</li>
    <li>Enter Price</li>
    <li>Unassign Ship and Makeover to Market Owner</li>
    <li>Set Timer for sale for 30 days</li>
</ul>

<h2>Standalone</h2>
<ul>
	<li>Select Item Class - Ship</li>
	<li>Select Item Subclass - Capital Ship</li>
	<li>Select Item</li>
    <li>Show RMV</li>
    <li>Enter Price</li>
</ul>


<% include partials/footer %>