<% include partials/header %>

<h1>SWCombine Market</h1>

<ul>
	<li>Focus on an integrated SWC Market</li>
	<li>Purchase and Sell Entities</li>
	<li>Database of Past sales</li>
	<li><a href="/market">Market</a></li>
</ul>





<% include partials/footer %>